{% extends "base.html" %}

{% block title %}ورود{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-5">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          <h2 class="h4 mb-3">ورود</h2>

          <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-primary w-100">ورود</button>
          </form>

          <div class="mt-3 small text-muted">
            حساب نداری؟ <a href="{% url 'signup' %}">ثبت‌نام</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
